* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background:#fffdee;
}
ul {
    list-style: none;
}


.logo {
    width: 100px;
    height: 100px;
    cursor: pointer;
}

/* Header */
header {
    background: #1a5d94;
    margin-bottom: 2rem;
}

.navbar {
    background: #1a5d94;;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
    
}

header .navbar {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}

.navbar .navbar-menu {
    display: flex;
    margin-right: 10px;
    gap: 10px;

}

.navbar .navbar-item {
    padding: 10px 18px;
    color: white;
    cursor: pointer;
    border-radius: 30px;
    transition: 0.3s ease;
}

.navbar .navbar-item:hover {
    color: darkblue;
    background: lightyellow;
}

.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding-right: 30px;
}

.navbar-toggle .bar {
    width: 25px;
    border-radius: 2px;
    height: 3px;
    background-color: #fff;
    margin: 2.5px 0;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .navbar-menu {
        flex-direction: column;
        padding-top: 50px;
        position: absolute;
        top: 0px;
        left: -100%;
        width: 40%;
        height: 1000vh;
        background-color: lightblue;
        transition: left 0.4s;
        overflow: hidden;
        z-index: 999;
    }


    .navbar-brand .logo {
        height: auto;
        width: 80px;
    }

    .navbar-menu.active {
        left: 0;
        height: 100vh;
    }

    .navbar-toggle {
        display: flex;
    }

    .navbar-menu li {
        margin: 10px 0;
    }

    .navbar-menu a {
        color: black;
    }

    .navbar-menu.active .navbar-item {
        color: black;
    }
}


.name {
    margin: .5em 0 0 0;
    font-weight: bold;
    text-align: center;
    
    font-size: 2em;
    z-index: 5;
}



#surname {
    color: #615BD1
}

.quote {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    column-gap: 1.2em;
    
}

.quote p {
    font-size: 1.2em;
}

.quote img {
    width:18%;
}

.card-container {
    margin: 0;
    /* margin-top: 5vh; */
    margin-top: 100px;
    width: 100%;
    height: auto;
    padding: 3em 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Align items to the start of the flex container */
    gap: 4em 0;
}

.card {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 0 4em;
    align-items: center; /* Center items horizontally */
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
    cursor: pointer;
}

.photo {
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: auto;
    border-radius: 1em;
    box-shadow: 0em 0.5em 1em rgba(0, 0, 0, 0.6);
    z-index: 1;
    object-fit: cover;
}


a {
    color: #737373;
    text-decoration: none;
}



a:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
}

.bg {
    margin: 0;
    width: 100%;
    height: 100%;

    position: fixed;

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    color: rgb(168,97,213, 0.09);
    font-size: 20vw;
    font-family: 'HelveticaWorld';
    font-weight: bolder;
    /* font-size: 20px; */
    z-index: -1;
}

/* DESKTOP CONFIGURATIONS*/

/* @media only screen and (min-width: 600px) {
    .burger-menu {
        display: none;
    }

    .navbar-links {
        display: flex;
    }

} */